.all-blogs--container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-bar--container {
    padding: 10px;
    height: fit-content;
    width: 60%;
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1.5px var(--green) solid;
    font-size: 1.1rem;
    justify-content: space-between;
}

.search-bar {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
}

.green-color {
    color: var(--green);
}

.category-filtering {
    border-left: 2px var(--green) solid;
    padding: 5px 35px 5px 10px;
    appearance: none;
    position: relative;
    cursor: pointer;
    outline-color: var(--green);
    width: 155px;
}

.category-filtering option:checked {
    background-color: var(--green);
    color: white;
}

.category-filter--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: -35px;
}

.select-arrow {
    position: relative;
    right: 30px;
    pointer-events: none;
}

.search--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.fast-fadein {
    animation: 0.5s fadein ease-in-out;
}