.home-blogs--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 90px;
}

.home--container {
    width: 80vw;
    margin: auto;
    padding: 20px;
}

.spinner {
    color: var(--green);
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-blogs--full-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    width: 100%;
}

.popular-blogs {
    margin-top: 20px;
}

.home-blogs--full-title button {
    border-radius: 15px;
}

.home-blogs--title {
    font-size: 1.5rem;
    margin: 0;
}

.blog-box--container {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: -webkit-fill-available;
    border-radius: 10px;
    height: 360px;
    padding: 15px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    text-decoration: none;
}

.blog-box--container:hover {
    background-color: rgba(226, 224, 224, 0.3);
}

.blog-box--img {
    width: 100%;
    background-color: var(--green);
    height: 50%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog-box-category {
    background-color: #f1f7f4;
    color: var(--light-green);
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 600;
    margin: 0;
}

.blog-box-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin: 0;
}

.blog-box--info-post {
    flex-grow: 1;
}

.blog-box--info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-box--info > p {
    margin: 0;
}

.blog-box-author,
.blog-box-date {
    color: var(--grey);
    font-size: 0.8rem;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}

.blog-box-author {
    font-weight: 500;
}

.blog-box-date { 
    font-weight: 400;
}

.home-blogs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    justify-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.thumb-up {
    color: var(--green);
}

.thumb--clicked,
.thumb-up:hover {
    font-variation-settings: 'FILL' 1;
}

.likes--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 55px; */
}

.category-likes--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.no-blogs-p {
    color: var(--grey);
    margin-bottom: -20px;
}


/* RESPONSIVENESS */
@media (max-width: 1100px) {
    .home--container {
        width: 90vw;
    }
}

@media (max-width: 1024px) {
    .home-blogs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px) {
    .home-blogs {
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow-x: scroll;
        height: fit-content;
    }

    .blog-box--container {
        width: 270px;
        height: 400px;
        min-width: 270px; /* for the width to apply correctly */
        box-shadow: none;
        border: 1px rgba(226, 224, 224, 0.8) solid;
    }
}

@media (max-width: 400px) {
    .home-blogs--full-title .green-button {
        padding: 5px 10px 5px 10px;
        font-size: 1rem;
    }

    .home--container {
        width: 100vw;
    }

    .home--container {
        margin-top: -10px;
    }
}

@media (max-width: 315px) {
    .home-blogs--full-title .green-button {
        padding: 0 10px 3px 10px;
        font-size: 1.2rem;
    }
}