@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  box-sizing: border-box;
  width: 100vw;
}

:root {
  --green: #04AA6D;
  --green-hover: #096946;
  --light-green: #31e0a0;
  --grey: #97989F;
}

.App {
  margin: auto;
  margin-bottom: 100px;
}

.green-button {
  background-color: var(--green);
  color: white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 1.2rem;
  align-self: center;
  text-decoration: none;
}

.green-button:hover {
  cursor: pointer;
  background-color: var(--green-hover);
  /* border: none; */
}