/* NavBar.css */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,.2);
    z-index: 100;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px; 
    text-decoration: none;
    font-size: 20px; 
    width: 70px;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav a.active,
.logout-button.active {
    background-color: #04AA6D;
    color: black; 
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.icon-text:hover .material-symbols-outlined {
    color: black; 
}

.icon-text:hover .text {
    color: black; 
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    font-size: 30px;
    color: white; 
}

.text {
    font-size: 16px; 
    margin-top: 4px; 
    color: white; 
}

.nav-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 45px;
    margin-top: 10px;
    font-family: fantasy;
}

.nav-links--container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.space-between {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

@keyframes slide-in {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: none;
    }
}

/* RESPONSIVENESS */
@media (max-width: 1024px) {
    .nav-title {
        position: static;
        transform: none;
        margin-left: 40px;
        margin-top: 5px;
    }

    .topnav {
        justify-content: space-between;
    }
}

@media (max-width: 710px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-title {
        margin-left: 0;
    }

    .topnav {
        padding: 5px 20px 5px 20px;
        align-items: center;
    }

    .topnav-active {
        height: 100vh;
        background-color: #333;
        align-items: flex-start;
    }

    .topnav-active .space-between {
        z-index: 41;
    }

    .topnav-active {
        flex-direction: column;
    }

    .topnav-active div a .icon-text {
        flex-direction: row;
    }

    .topnav-active .nav-links-mobile {
        animation: 0.8s slide-in ease-out;
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        margin-bottom: 90px;
        z-index: 40;
    }

    .logout-button.active,
    .topnav a.active {
        background-color: transparent;
    }

    .topnav a {
        width: fit-content;
        display: block;
    }

    .topnav a span {
        font-size: 2rem;
    }

    .icon-text .material-symbols-outlined {
        margin-right: 10px;
    }
    
    .logout-button.active span,
    .topnav a.active span {
        color: var(--green) !important;
        font-weight: 700;
    }

    .icon-text {
        align-items: center;
    }

    .text {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .topnav {
        width: 100vw;
    }
}

@media (max-width: 400px) {
    .nav-title {
        font-size: 2rem;
    }
}