/* NavBar.css */
.topnav {
    background-color: #333;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 15px 10px -10px rgba(0,0,0,.2);
    z-index: 100;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px; 
    text-decoration: none;
    font-size: 20px; 
    width: 70px;
}

.topnav a:hover {
    background-color: #ddd;
}

.topnav a.active {
    background-color: #04AA6D;
    color: black; 
}

.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.icon-text:hover .material-symbols-outlined {
    color: black; 
}

.icon-text:hover .text {
    color: black; 
}

.material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
    font-size: 30px;
    color: white; 
}

.text {
    font-size: 16px; 
    margin-top: 4px; 
    color: white; 
}

.nav-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 45px;
    margin-top: 10px;
    font-family: fantasy;
}
